NEXT_PUBLIC_SUPABASE_URL= https://vurdsdfxbbxdedjwqqdh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ1cmRzZGZ4YmJ4ZGVkandxcWRoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNzgwODcsImV4cCI6MjA5Nzg1NDA4N30.pTloVOELkJDOcJbhei_niCmb87iZ-bJSxutTFvQVEvM
SUPABASE_SERVICE_ROLE_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ1cmRzZGZ4YmJ4ZGVkandxcWRoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjI3ODA4NywiZXhwIjoyMDk3ODU0MDg3fQ.0HNuSkR8rkUvo4zEeBhm8j8nnfm4U7H1LimQgYf0oKQ
GEMINI_API_KEY= AQ.Ab8RN6KRgR5VwFcQOdu7o8tjXB9NL4u-QkVwBvAq8wUCMvLlgQ
