NEXT_PUBLIC_SUPABASE_URL= https://vurdsdfxbbxdedjwqqdh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ1cmRzZGZ4YmJ4ZGVkandxcWRoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNzgwODcsImV4cCI6MjA5Nzg1NDA4N30.pTloVOELkJDOcJbhei_niCmb87iZ-bJSxutTFvQVEvM
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key
GEMINI_API_KEY=your_gemini_api_key
