@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  header, footer, .no-print {
    display: none !important;
  }
  .print-area {
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 0;
  }
}
