@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-gray-900 dark:bg-gray-950 dark:text-gray-100;
}

@media print {
  header, footer, .no-print {
    display: none !important;
  }
  .print-area {
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 0;
  }
}

.pdf-only {
  display: none;
}

.generating-pdf .pdf-only {
  display: block !important;
}

.generating-pdf .no-print {
  display: none !important;
}
